
body {
    font-family: 'Open Sans', sans-serif !important;
    background-color: #F6F6F6;
    margin: 0;
    padding: 0;
}
/* Wrapper styling */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

/* Left section styling */
.left-section {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}



.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button.btn {
    background-color: #88304e;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.btn:hover {
    background-color: #6e213a;
}

/* Error message styling */
.invalid-feedback {
    display: block;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}



/*custom log in */
.user-dropdown {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.user-info span {
    margin-right: 10px;
}

.user-dropdown img {
    width: 10px;  /* adjust as needed */
    height: 10px;  /* adjust as needed */
}

.dropdown-menu_user {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.user-dropdown:hover .dropdown-menu_user {
    display: block;
}

.dropdown-menu_user a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

