
.rectangle {

    display: flex;
    align-items: center;
    background-color: #88304e; /* Adjust the color as needed */
    border-radius: 15px;
    padding: 20px;
    width: 40%; /* Adjust as needed */
    margin: 0 auto;
}

.image {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    background-image: url("../img/boy.png"); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    aspect-ratio: auto;
    /*border-radius: 50%; !* This will make the image round *!*/
}
h3 {
    margin: 20px 0;
}

h1 {

    margin:20px 0;
    font-size: large;


}
.line {
    height: 114px; /* Adjust based on your design */
    width: 3px; /* Adjust as needed */
    background-color: #F3D35E; /* Adjust the color as needed */
    margin: 0 20px; /* Adjust the spacing as needed */
}

.text-content {
    flex: 1;
    font-family: 'Roboto Mono', monospace;
    color: white;
}


body {
    font-family: 'Open Sans', sans-serif !important;
    background-color: #F6F6F6;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10% 10% 0.5% 10%;
}

.wrapper-comment {
    display: flex;
    justify-content: space-between;
    padding: 0% 10% 5% 10%;
}

.left-section {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-x: auto;
    flex: 3;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.left-section-comment {
    flex: 3;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.right-section {
    flex: 1;
    padding: 20px;
}

h2 {
    border-bottom: 1px solid #DADADA;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.post {
    border-bottom: 1px solid #DADADA;
    padding: 20px 0;
}

.date-author {
    color: #888;
    margin: 10px 0;

}

.tag {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 5px;
    background-color: #DADADA;
    color: #FFFFFF;
    margin-top: 10px;
}

.roommate {
    background-color: #E58F65;
}
.advice {
    background-color: #65cee5;
}
.events_cat{
    background-color: #e56596;
}
.books {
    background-color: #71B495;
}

.courses {
    background-color: #E8AEB7;
}

.new-posts {
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;


}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.google {
    background-color: #DB4437;
    color: #FFFFFF;
}

.facebook {
    background-color: #3B5998;
    color: #FFFFFF;
}



